:root {
  --custom-btn-purple-color: #6464e6;
  --custom-horizontal-separator-color: #e7e7e7;
}

/* custom button */

.custom-btn-purple {
  color: #fff;
  background-color: var(--custom-btn-purple-color);
}

.custom-btn-purple:hover {
  color: #fff;
  opacity: 0.95;
}

.custom-btn-outlined-purple {
  color: #000;
  background-color: #fff;
  border: 1px solid var(--custom-btn-purple-color);
}

.custom-btn-outlined-purple:hover {
  color: #fff;
  background-color: var(--custom-btn-purple-color);
}

.custom-btn-clipboard {
  font-size: 0.65rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

/* ultility */

.custom-opacity-06 {
  opacity: 0.6;
}

.custom-gold-color {
  color: #DBA514;
}

.custom-bg-gold-color {
  background-color: rgba(219, 165, 20, 0.1);
}

.custom-silver-color {
  color: #969AA2;
}

.custom-bg-silver-color {
  background-color: rgba(166, 170, 175, 0.1);
}

.custom-bronze-color {
  color: #9C7A3C;
}

.custom-bg-bronze-color {
  background-color: rgba(156, 122, 60, 0.1);
}